
.commitment {
    background-color: #fff;
}
.commitment .title {
    font-weight: 600;
    margin: 0 16px;
    color: rgb(0, 62, 161);
}
.commitment img{
    width: 20px;
    height: 20px;
}
.commitment a {
    color: #000;
    line-height: 40px;
}

.product-detail .prod-image{
    margin-top: 8px;
    padding: 16px 14px;
    width: 35%;
}
.prod-image img {
    border: 1px solid #dadada;
    border-radius: 8px;
    width: 100%;
}
.list-image img {
    width: 15%;
    border-radius: 4px;
}