
sup {
    text-decoration: underline;
}

.commitment {
    background-color: #fff;
}
.commitment .title {
    font-weight: 600;
    margin: 0 16px;
    color: rgb(0, 62, 161);
}
.commitment img{
    width: 20px;
    height: 20px;
}
.commitment a {
    color: #000;
    line-height: 40px;
}

.product-detail .prod-image{
    margin-top: 8px;
    padding: 16px 14px;
    width: 26%;
    height: max-content;
}
.prod-image img {
    border: 1px solid #dadada;
    border-radius: 8px;
    width: 100%;
}
.list-image img {
    width: 15%;
    padding: 2px;
    border-radius: 4px;
}
.list-image img.active {
    border: 1px solid rgb(102, 102, 240);
}
.expand-image img{
    animation-name: fade;
    animation-duration: 1s;
}
@keyframes fade {
    from {
        opacity: .5;
    }
    to{
        opacity: 1;
    }
}

.product-detail .wrapper {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 14px;
}

// ============== Prod-content CSS ================= //
.prod-content .author a{
    color: rgb(13, 92, 182);
}
.star-review .ant-typography{
    font-size: 15px;
}
.star-review img {
    width: 20px;
}
.prod-content .main-price {
    font-size: 28px;
    color: red;
    font-weight: 500;   
}
.prod-content .discount {
    color: #777;
    background-color: #eeeaea;
    border-radius: 12px;
    font-size: 13px;
    padding: 0 4px;
}
.prod-content .now-delivery{
    margin-top: 8px;
}
.prod-content .now-delivery img{
    width: 35px;
}

/// ==================== Tiki Tranding CSS ===================//
.tiki-trading .tiki-logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.tiki-trading .tiki-official {
    width: 70px;  
}
.number-prod .ant-btn {
    font-size: 20px;
    vertical-align: middle;
    width: 40px;
    &:hover{
        cursor: pointer;
    }
}
.number-prod input{
    text-align: center;
    width: 45px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.tiki-trading .add-to-card, 
.buy-first{
    color: rgb(10, 104, 255);
    border: 1px solid #0a68ff;
}

.prod-content .product-list {
    margin: 0;
    padding: 12px 2px;
}
.prod-content .ant-card{
    padding-top: 2px;
}
.prod-content .ant-card-body{
    margin-top: 0;
}