.book-store .ant-breadcrumb {
    font-size: 1rem;
}

.book-store .ant-typography {
    padding-left: 8px;
}

.book-category img {
    width: 100%;
    border-radius: 50%;
    &:hover {
        opacity: .8;
        cursor: pointer;
    }
}

// ===================== Sort CSS ==============================

.sort-type-item {
    margin-top: 8px;
}
.sort .ant-btn{
     padding: 4px 10px;
    border: 1px solid #ccc;
    border-radius: 18px;
}
.sort-type-detail {
    margin-top: 8px;
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px #ccc;
}
