
.footer-container {
    
}
.footer-container .common-infor{
    padding: 8px;
    width: 100%;
}
.infor-item {
    width: 19% !important;
}

.common-infor a {
    color: #808089;
    &:hover {
        color: #808089;
        text-decoration: underline #808089;
    }
}
.common-infor .payment-icon{
    margin: 12px 0 16px;
}
.common-infor .payments img{
    cursor: pointer;
}