
.footer-container {
    
}
.infor-item {
    width: 19% !important;
}
// .certified-by img {
//     width: 50%;
// }

.common-infor a {
    color: #808089;
    &:hover {
        color: #808089;
        text-decoration: underline #808089;
    }
}